.body {
  margin: 0;
}
.images {
  padding: 50px 0;
}
.container {
  margin: 0 auto;
  overflow: hidden;  
  width: 960px;
  border: 1px solid red;
}
.img_item {
  float: left;
  width: 25%;
  padding: 0 3px;
}
.img_item img {
  width: 100%;
}
